.modal-description {
    text-align: left;
    /* overflow: auto; */
    /* font-size: 150%; */
}

.modal-description-inner {
    text-align: inherit;
    overflow: auto;
    /* font-size: 175%; */
}

.modal {
    /* border-radius: 25%; */
    background-color: none;
}

.img-modal {
    margin-left: 0px;
    margin-bottom: 1%;
}

.modal-body {
    background-color: lightslategray;
    padding: 3px;
}

.modal-header {
    background-color: orange;
}

.modal-footer {
    background-color: orange;
}